.Card {
    .Leg {
        width: 100%;
        height: auto;
        overflow: scroll;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .AirlineLogo {
           background-image: url(../../assets/airline-logo--easyjet.png);
           background-repeat: no-repeat;
           width: 24px;
           height: 24px;
           margin: 4px 0;
        }
        .Departure, .Arrival {
            display: flex;
            flex-flow: column;
            text-align: center;
            .LegText, .AirportText {
                flex-direction: column;
                text-align: center;
            }
            .AirportText {
                color: #b9b6c3;
            }
        }
        .ArrowRight {

            background-image: url(../../assets/long-arrow-right--lg.png);
            background-repeat: no-repeat;
            width: auto;
            margin: 10px 0;
            padding: 10px;
            text-align: center;
        }
        .Details {
            display: flex;
            flex-flow: column;
            text-align: center;
            .Duration {
                font-size: 0.6rem;
                color: #b9b6c3;
            }
            .Direct {
                color: #00a698;
            }
            .Indirect {
                color: #e7a0ac;
            }
        }
    }
}
.Card:hover {
    background-color: #e7e7e7;
}